<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/dist/tailwind-compiled.css" rel="stylesheet">
    <style>
        a:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffc1d2 65%);
            transform: rotate(15deg);
            display: inline;
        }
        #calling-card {
            border-top: 4px solid #ffc1d2;
        }
    </style>
</head>

<body>

    <div id="calling-card" class="max-w-md mx-auto my-48 bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48" src="../static/dist/img/profil.jpeg"
                    alt="Me outdoors smiling">
            </div>
            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-red-300 font-semibold">Calling Card</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black">Tobias Wessels</a>

                <p class="mt-4 text-gray-500">Build- and Configurations Engineer</p>
                <p class="mt-0 text-gray-500">
                    <svg class="h-4 w-4 md:inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg> wessels.tobias[at]gmail.com
                </p>
            </div>
        </div>
    </div>
</body>


</html>