<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/dist/tailwind-compiled.css" rel="stylesheet">
    <!-- ... -->
</head>

<body>
    <figure class="bg-red-200 rounded-xl p-8">
        <img class="w-32 h-32 rounded-full " src="../static/dist/img/pullover.jpg" alt="" width="384" height="512">
        <div class="pt-6 space-y-4">
            <blockquote>
                <p class="text-lg">
                    “Tailwind CSS is the only framework that I've seen scale
                    on large teams. It’s easy to customize, adapts to any design,
                    and the build size is tiny.”
                </p>
            </blockquote>
            <figcaption>
                <div>
                    Sarah Dayan
                </div>
                <div>
                    Staff Engineer, Algolia
                </div>
            </figcaption>
        </div>
    </figure>


</body>

</html>